.card__text {
  margin: 0 0 0 21px;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 925px) {
  .card__text {
    max-width: 32vw;
  }
}

@media (max-width: 643px) {
  .card__text {
    max-width: 60vw;
  }
}